<span class="flex w-full justify-between h-16 py-3 px-4 border-4 border-blue-500">
  <span class="icons-wrapper">
    <button (click)="emmitMenuClick()">
      <app-icon-menu class="fill-action-active"></app-icon-menu>
    </button>
    <app-icon-search class="fill-action-active"></app-icon-search>
  </span>
  <span class="icons-wrapper">
    <div class="relative">
      <app-icon-bell class="fill-action-active w-5 h-5"></app-icon-bell>
      <app-bagde class="absolute bottom-3.5 left-3"></app-bagde>
    </div>
  </span>
</span>
