<div class="flex flex-col gap-2 mb-6 border">
  <nav class="flex items-center text-sm text-gray-500">
    <ol class="flex items-center gap-2">
      @for (crumb of breadcrumbs(); track crumb.url; let last = $last) {
        <li class="flex items-center gap-2">
          @if (last) {
            <span class="text-gray-400 cursor-default">
              {{ crumb.label }}
            </span>
          } @else {
            <a
              [routerLink]="crumb.url"
              class="hover:text-primary-main hover:underline transition-colors"
            >
              {{ crumb.label }}
            </a>

            <span class="w-1 h-1 rounded-full bg-gray-300 mx-1"></span>
          }
        </li>
      }
    </ol>
  </nav>
</div>
