<label [for]="inputId()" class="text-field" [attr.variant]="variant()" [class.disabled]="disabled">
  <div class="pr-2 fill-action-active">
    <ng-content></ng-content>
  </div>

  <input
    [type]="innerType()"
    [id]="inputId()"
    [placeholder]="placeholder()"
    [(ngModel)]="innerValue"
    (ngModelChange)="updateValue($event)"
    (blur)="onBlur()"
    [disabled]="disabled"
    [name]="name()"
    [mask]="mask()"
    [dropSpecialCharacters]="dropSpecialCharacters()"
    [specialCharacters]="specialCharacters()"
  />
  @if (hasLabel()) {
    <span class="label-text">{{ label() }}</span>
  }

  @if (showPasswordToggle()) {
    <button class="button" type="button" (click)="showPass()">
      <app-icon-eye class="icon-eye" [on]="eyeOn"></app-icon-eye>
    </button>
  }
</label>
