<label [for]="id()" class="text-field" [attr.variant]="variant()" [class.disabled]="disabled">
  <input
    [type]="innerType()"
    [id]="id()"
    [placeholder]="placeholder()"
    [value]="innerValue"
    (input)="updateValue($event)"
    (blur)="onBlur()"
    [disabled]="disabled"
    [name]="name()"
  />
  @if(hasLabel()){
  <span class="label-text">{{ label() }}</span>
  }
  <button class="button" type="button" (click)="showPass()">
    @if(showPasswordToggle()){
    <app-icon-eye class="icon-eye" [on]="eyeOn"></app-icon-eye>
    }
  </button>
</label>
