@reference '../../../../../styles.css';

/* Default */

.text-field {
  @apply relative flex  px-3.5 py-4 h-14 w-80 rounded-lg;

  input {
    @apply flex items-start text-text-primary w-full h-full outline-none;
  }
}

.label-text {
  @apply absolute focus:-top-3 focus:left-3.5 bg-background-paper px-1 py-0 focus:text-xs text-text-disabled transition-all;
}
/* ---------- */

/* Size */
.text-field-sm {
  @apply px-2 py-3.5 h-10;
}

/* ---------- */

/* Variants */
label[variant='outlined'] {
  @apply border border-input-outlined hover:border-text-primary focus-within:border-text-primary transition-all;

  input {
    @apply items-center gap-2 self-stretch;
  }
  /* Label grande (campo vazio) */
  input:placeholder-shown + .label-text {
    @apply top-4 text-base;
  }

  /* Label pequena (focado ou com valor) */
  input:focus + .label-text,
  input:not(:placeholder-shown) + .label-text {
    @apply -top-2.5 left-3 text-xs text-text-primary;
  }

  /* Label com input não focado não focada */
  input:not(:focus) + .label-text {
    @apply text-text-disabled;
  }

  &.text-field-sm {
    @apply py-2 px-3.5 border-text-disabled hover:border-text-primary focus-within:border-text-primary;

    input {
      @apply h-6;
    }

    /* Label grande (campo vazio) */
    input:placeholder-shown + .label-text {
      @apply top-2.5 text-sm;
    }

    /* Label pequena (focado ou com valor) */
    input:focus + .label-text,
    input:not(:placeholder-shown) + .label-text {
      @apply -top-2.5 left-3 text-xs text-text-primary;
    }
  }
}

label[variant='filled'] {
  @apply bg-grey-500/8 py-6 px-3;

  .label-text {
    @apply bg-transparent;
  }

  input {
    @apply h-6;
  }

  /* Label grande (campo vazio) */
  input:placeholder-shown + .label-text {
    @apply top-4 text-base;
  }

  /* Label pequena (focado ou com valor) */
  input:focus + .label-text,
  input:not(:placeholder-shown) + .label-text {
    @apply top-1 left-2 text-xs text-text-primary;
  }

  /* Label com input não focado não focada */
  input:not(:focus) + .label-text {
    @apply text-text-disabled;
  }
  &.text-field-sm {
    input {
      @apply h-4;
    }

    /* Label grande (campo vazio) */
    input:placeholder-shown + .label-text {
      @apply top-3 text-base;
    }

    /* Label pequena (focado ou com valor) */
    input:focus + .label-text,
    input:not(:placeholder-shown) + .label-text {
      @apply top-1 left-2 text-xs text-text-primary;
    }

    /* Label com input não focado não focada */
    input:not(:focus) + .label-text {
      @apply text-text-disabled;
    }
  }
}

label[variant='standard'] {
  @apply border-b border-input-outlined focus-within:border-text-primary rounded-none pb-0 pl-0.5 pr-0;

  .label-text {
    @apply left-0 bg-transparent;
  }

  input {
    @apply border-none p-0;
  }

  /* Label grande (campo vazio) */
  input:placeholder-shown + .label-text {
    @apply top-7 text-base -left-0.5;
  }

  /* Label pequena (focado ou com valor) */
  input:focus + .label-text,
  input:not(:placeholder-shown) + .label-text {
    @apply top-1 -left-0.5 text-xs text-text-primary;
  }

  /* Label com input não focado não focada */
  input:not(:focus) + .label-text {
    @apply text-text-disabled;
  }

  &.text-field-sm {
    /* Label grande (campo vazio) */
    input:placeholder-shown + .label-text {
      @apply top-3 text-base;
    }

    /* Label pequena (focado ou preenchido) */
    input:focus + .label-text,
    input:not(:placeholder-shown) + .label-text {
      @apply top-0.5 text-xs;
    }
  }
}

/* ---------- */

/* Estados de erro do angular*/

:host.ng-invalid.ng-touched label[variant='outlined'] {
  @apply border-error-main;
  .label-text {
    @apply text-error-main;
  }
}

:host.ng-invalid.ng-touched label[variant='filled'] {
  @apply bg-error-main/8;

  .label-text {
    @apply text-error-main;
  }
}

:host.ng-invalid.ng-touched label[variant='standard'] {
  @apply border-error-main;

  .label-text {
    @apply text-error-main;
  }
}

/* estados desabilitados */
:host label[variant='outlined'].disabled {
  @apply border-action-disabled hover:border-action-disabled bg-background-paper text-text-disabled;

  .label-text {
    @apply text-text-disabled;
  }

  input[disabled] {
    @apply text-text-disabled;
  }
}

:host label[variant='filled'].disabled {
  @apply border-action-disabled hover:border-action-disabled bg-action-disabled-background text-text-disabled;

  .label-text {
    @apply text-text-disabled;
  }

  input[disabled] {
    @apply text-text-disabled;
  }
}

:host label[variant='standard'].disabled {
  @apply border-b border-action-disabled hover:border-action-disabled  text-text-disabled rounded-none;

  .label-text {
    @apply text-text-disabled;
  }

  input[disabled] {
    @apply text-text-disabled;
  }
}

/* icones */
.icon-eye {
  @apply text-action-active;
}
