<label class="relative z-0 inline-flex group items-center cursor-pointer p-2">
  <input
    type="checkbox"
    class="peer hidden"
    [id]="inputId()"
    [name]="name()"
    [disabled]="disabled()"
    [checked]="checked()"
    (change)="onInputChange($event)"
    (blur)="onTouched()"
  />
  <div
    [attr.size]="size()"
    [attr.color]="color()"
    [attr.indeterminate]="indeterminate()"
    [attr.disabled]="disabled()"
    class="w-5 h-5 border-2 border-action-active rounded-md bg-white flex justify-center items-center transition-all duration-200 text-white group-has-checked:bg-action-active halo"
  >
    <svg
      class="w-3.5 h-3.5 opacity-0 transition-opacity scale-50 duration-200 group-has-checked:opacity-100 group-has-checked:scale-100"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="4"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      @if (indeterminate()) {
        <line x1="5" y1="12" x2="19" y2="12"></line>
      } @else {
        <polyline points="20 6 9 17 4 12"></polyline>
      }
    </svg>
  </div>
</label>
