<app-table
  [columns]="tableColumns"
  [data]="users()"
  [isLoading]="isLoading()"
  (search)="handleSearch($event)"
  (rowClick)="navigateToDetails($event)"
>
  <div
    toolbar
    class="flex items-center gap-2 text-text-secondary bg-background-neutral w-full h-12 pl-6"
  >
    <button
      class="px-3 h-full text-sm font-normal cursor-pointer"
      [routerLink]="[]"
      [queryParams]="{ status: null }"
      queryParamsHandling="merge"
      [routerLinkActiveOptions]="{
        matrixParams: 'ignored',
        queryParams: 'exact',
        paths: 'exact',
        fragment: 'ignored',
      }"
      routerLinkActive="font-semibold border-b-2 border-primary-main !text-text-primary"
    >
      Todos
    </button>

    <button
      class="px-3 h-full text-sm font-semibold text-text-secondary hover:bg-action-hover cursor-pointer"
      [routerLink]="[]"
      [queryParams]="{ status: 'active' }"
      queryParamsHandling="merge"
      routerLinkActive="font-semibold border-b-2 border-primary-main !text-text-primary"
      [routerLinkActiveOptions]="{
        matrixParams: 'ignored',
        queryParams: 'exact',
        paths: 'exact',
        fragment: 'ignored',
      }"
    >
      Ativos
    </button>

    <button
      class="px-3 h-full text-sm font-semibold text-text-secondary hover:bg-action-hover cursor-pointer"
      [routerLink]="[]"
      [queryParams]="{ status: 'banned' }"
      queryParamsHandling="merge"
      routerLinkActive="font-semibold border-b-2 border-primary-main !text-text-primary"
      [routerLinkActiveOptions]="{
        matrixParams: 'ignored',
        queryParams: 'exact',
        paths: 'exact',
        fragment: 'ignored',
      }"
    >
      Banidos
    </button>
  </div>
  <div toolbar class="relative w-full ml-auto p-5">
    <app-text-field
      placeholder="Search..."
      [ngModel]="searchTerm"
      (ngModelChange)="handleSearch($event)"
      id="searchInputUserTable"
    >
      <svg class="h-5 w-5 text-action-active" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </app-text-field>
  </div>
  <ng-template let-row>
    <td class="p-4 text-sm text-gray-500">
      {{ row.id }}
    </td>

    <td class="p-4 whitespace-nowrap pr-10">
      <div class="flex items-center gap-3">
        <img
          [src]="'https://ui-avatars.com/api/?name=' + row.nome + '&background=random&color=fff'"
          alt="Avatar"
          class="w-10 h-10 rounded-full object-cover"
        />

        <div class="flex flex-col">
          <span class="font-semibold text-sm text-gray-900">{{ row.nome }}</span>
        </div>
      </div>
    </td>

    <td class="p-4 whitespace-nowrap">
      <span class="text-sm text-gray-600">{{ row.unidade }}</span>
    </td>

    <td class="p-4 whitespace-nowrap">
      <span class="text-sm text-gray-600">{{ row.setor }}</span>
    </td>
    <td class="p-4 whitespace-nowrap">
      <span class="text-sm text-gray-600">{{ row.cargo }}</span>
    </td>

    <td class="p-1 whitespace-nowrap">
      <span
        class="px-2.5 py-1.5 rounded-lg text-xs font-bold inline-flex items-center"
        [ngClass]="{
          'bg-success-lighter text-success-dark': row.status.toLowerCase() === 'aprovado',
          'bg-error-lighter text-error-dark': row.status.toLowerCase() === 'rejeitado',
          'bg-warning-lighter text-warning-dark': row.status.toLowerCase() === 'pendente',
        }"
      >
        {{ row.status }}
      </span>
    </td>
    <td class="p-4 whitespace-nowrap">
      <span class="text-sm text-gray-600">{{
        row.criadoEm | date: 'mm/dd/yyy, hh:mm' : '' : 'pt-BR'
      }}</span>
    </td>
    <td class="p-4 whitespace-nowrap">
      <span class="text-sm text-gray-600">{{
        row.atualizadoEm | date: 'mm/dd/yyy, hh:mm' : '' : 'pt-BR'
      }}</span>
    </td>
  </ng-template>
</app-table>
