/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  /* Default Font */
  --font-sans: 'Public Sans', sans-serif;

  /* Disable Default */
  --color-gray-*: initial;
  /* Color Light */
  --color-primary-lighter: #c8facd;
  --color-primary-light: #5be584;
  --color-primary-main: #00ab55;
  --color-primary-dark: #007b55;
  --color-primary-darker: #005249;

  --color-secondary-lighter: #d6e4ff;
  --color-secondary-light: #84a9ff;
  --color-secondary-main: #3366ff;
  --color-secondary-dark: #1939b7;
  --color-secondary-darker: #091a7a;

  --color-info-lighter: #cafdf5;
  --color-info-light: #61f3f3;
  --color-info-main: #00b8d9;
  --color-info-dark: #006c9c;
  --color-info-darker: #003768;

  --color-success-lighter: #d8fbde;
  --color-success-light: #86e8ab;
  --color-success-main: #36b37e;
  --color-success-dark: #1b806a;
  --color-success-darker: #0a5554;

  --color-warning-lighter: #fff5cc;
  --color-warning-light: #ffd666;
  --color-warning-main: #ffab00;
  --color-warning-dark: #b76e00;
  --color-warning-darker: #7a4100;

  --color-error-lighter: #ffe9d5;
  --color-error-light: #ffac82;
  --color-error-main: #ff5630;
  --color-error-dark: #b71d18;
  --color-error-darker: #7a0916;

  --color-grey-100: #f9fafb;
  --color-grey-200: #f4f6f8;
  --color-grey-300: #dfe3e8;
  --color-grey-400: #c4cdd5;
  --color-grey-500: #919eab;
  --color-grey-600: #637381;
  --color-grey-700: #454f5b;
  --color-grey-800: #212b36;
  --color-grey-900: #161c24;

  --color-common-black: #000000;
  --color-common-white: #ffffff;

  --color-text-primary: #212b36;
  --color-text-secondary: #637381;
  --color-text-disabled: #919eab;
  --color-text-contrast: rgba(255, 255, 255, 1);
  --color-divider: #919eab;

  --color-background-default: #ffffff;
  --color-background-paper: #ffffff;
  --color-background-neutral: rgba(145, 158, 171, 0.16);

  --color-action-active: rgba(99, 115, 129, 1);
  --color-action-hover: rgba(145, 158, 171, 0.08);
  --color-action-selected: rgba(145, 158, 171, 0.16);
  --color-action-disabled: rgba(145, 158, 171, 0.8);
  --color-action-disabled-background: rgba(145, 158, 171, 0.24);
  --color-action-focus: rgba(145, 158, 171, 0.24);

  --shadow-z1: 0 1px 2px rgba(145, 158, 171, 0.16);
  --shadow-z8: 0px 8px 16px rgba(145, 158, 171, 0.16);
  --shadow-z12: 0px 12px 24px -4px rgba(145, 158, 171, 0.16);
  --shadow-z16: 0px 16px 32px -4px rgba(145, 158, 171, 0.16);
  --shadow-z20: 0px 20px 40px -4px rgba(145, 158, 171, 0.16);
  --shadow-z24: 0px 24px 48px rgba(145, 158, 171, 0.16);
  --shadow-card: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 12px -4px rgba(145, 158, 171, 0.12);
  --shadow-dialog: -40px 40px 80px -8px rgba(145, 158, 171, 0.24);
  --shadow-dropdown:
    0px 0px 2px rgba(145, 158, 171, 0.24), -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
  --shadow-primary: 0 8px 16px 0 rgba(0, 171, 85, 0.24);
  --shadow-secondary: 0 8px 16px 0 rgba(51, 102, 255, 0.24);
  --shadow-info: 0 8px 16px 0 rgba(0, 184, 217, 0.24);
  --shadow-success: 0 8px 16px 0 rgba(54, 179, 126, 0.24);
  --shadow-warning: 0 8px 16px 0 rgba(255, 171, 0, 0.24);
  --shadow-error: 0 8px 16px 0 rgba(255, 86, 48, 0.24);

  --color-input-outlined: rgba(145, 158, 171, 0.32);
  --color-button-outlined: rgba(145, 158, 171, 0.32);
  /* Color Dark */

  --color-dark-background-default: #161c24;
  --color-dark-background-paper: #212b36;
  --color-dark-background-neutral: rgba(145, 158, 171, 0.16)
    --color-dark-action-active: rgba(145, 158, 171, 1)
    --color-dark-action-hover: rgba(145, 158, 171, 0.08)
    --color-dark-action-selected: rgba(145, 158, 171, 0.16)
    --color-dark-action-disabled: rgba(145, 158, 171, 0.8)
    --color-dark-action-disabled-background: rgba(145, 158, 171, 0.24)
    --color-dark-action-focus: rgba(145, 158, 171, 0.24) --dark-shadow-z1: 0px 1px 2px
    rgba(0, 0, 0, 0.16);
  --dark-shadow-z8: 0px 8px 16px rgba(0, 0, 0, 0.16);
  --dark-shadow-z12: 0px 12px 24px -4px rgba(0, 0, 0, 0.16);
  --dark-shadow-z16: 0px 16px 32px -4px rgba(0, 0, 0, 0.16);
  --dark-shadow-z20: 0px 20px 40px -4px rgba(0, 0, 0, 0.16);
  --dark-shadow-z24: 0px 24px 48px rgba(0, 0, 0, 0.16);
  --dark-shadow-card: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 12px 24px -4px rgba(0, 0, 0, 0.12);
  --dark-shadow-dialog: -40px 40px 80px -8px rgba(0, 0, 0, 0.24);
  --dark-shadow-dropdown: 0px 0px 2px rgba(0, 0, 0, 0.24), -20px 20px 40px -4px rgba(0, 0, 0, 0.24);

  /* Utils */
  --transition-grid-rows: grid-template-rows;
}

/* Apply Default Font */
html {
  font-family: var(--font-sans);
}
